/* Navigation bar */
{% load staticfiles %}


/* Small screens */
.navbar-custom .navbar-toggle {
    background: #fc2313;
    border-color: #fc2313;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background: #fc2313;
}
/* End Small screens */

.navbar-custom .navbar-nav>.active>a {
    background: #fc2313;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #fc2313;
}

.navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.active>a:hover {
    background: #fc2313;
}


/* Brand */
.navbar-custom .navbar-brand {
    color: #Fc2313;
}

/* Logo */

#logo-scr {
    background-image: url("/static/img/logos/wt.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    width: 108px;
    margin: -7px 0px 0px 40px;
    height: 88px;
}

@media (min-width: 360px) and (max-width: 766px) {
    #logo-scr {
        width: 50px;
    }
}

.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover {
    color: #B20100;
}

/* Button */
.btn-xl {
    border-color: #fc2313;
    background-color: #fc2313;
    opacity: 0.9;
}

.btn-xl:hover {
    background-color: #B20100;
    border-color: #B20100;
}

/* Icons */

.text-primary {
    color: #fc2313;
}

#services, #about, #contact, #portfolio, .clients {
    padding: 50px 0;
}

/* Product */
#portfolio .portfolio-item
.portfolio-link .portfolio-hover {
    background: rgba(251,19,19,0.68);
}

/* Partner */
#partners .section-heading {
    font-size: 40px;
}

#partners .col-md-3 {
     margin: -3px -34px;
}

/* Footer */
ul.list-inline.quicklinks a {
    color: #c1c1c1;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fc2313;
}

/*.contacts  {
    font-size: 15px;
    list-style: none;
    text-align: left;
    width: 101%;
    padding-left: 0%;
}*/

/*.contacts span {
  padding-left: 2%;
}*/

/* End Footer*/

/* Details of Products */

address{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.btn-primary {
    border-color: #c1c1c1;
    background-color: #c1c1c1;
    /*opacity: 0.9;*/
}

.btn-primary.active, .btn-primary:active,
.btn-primary:focus, .btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    border-color: #9f9f9f;
    background-color: #9f9f9f;
}

/* About Panels */
.panel {
    margin-right: 5%;
    float: left;
    border: none;
}

.panel-info>.panel-heading {
    background: none;
    border-color: #fc2313;
}
.row-content{
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  border-bottom: 0.5px ridge rgb(255, 96, 117);
  min-height: 200px;
}
